.container {
  height:60px;
}

.wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.left,.center,.right {
 flex:1;
}

.left {
  display: flex;
  align-items: center;
}

.center{
  text-align: center;
}

.right{
  display:flex;
  align-items:center;
  justify-content:flex-end;
}

.language {
  font-size: 14px;
  cursor: pointer;
}

.searchContainer{
  border: 0.5px solid lightgrey;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.input {
  border: none;
}

.logo{
  font-weight: bold;
}

.menuItem {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}